language: python
python:
  - "3.5"
  - "3.5-dev"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"

# command to install dependencies
install:
  - pip install -r requirements.txt

# command to run tests
script:
  - nosetests --with-coverage --cover-inclusive --cover-package=kdes
  - jupyter nbconvert --ExecutePreprocessor.kernel_name=python --ExecutePreprocessor.timeout=600 --to notebook --execute notebooks/kde.ipynb

after_success:
  - codecov
